* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #EDF0F2;
  }
  
  html, body {
    height: 100%;
    width: 100%;
    font-family: Arial, sans-serif;
  }
  
  button, input, textarea {
    font-family: inherit;
  }
  
  img {
    max-width: 100%;
    display: block;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  ul, ol {
    list-style: none;
  }
  